#hero #hero-img {
  height: 90vh;
  background-image: url(./assects/images/architect.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header{
  z-index:1 !important;
}
.br-tec{
background-color: black;
opacity: 0.7;
}
#about img{
filter: grayscale(0.7);
}
